[Unit]
Description=kinit start

[Service]
Environment="KERB_USER=user@FEDORAPROJECT.ORG"
ExecStart=/bin/bash -c '/usr/bin/kwalletcli -f kerberos -e ${KERB_USER} | /usr/bin/kinit ${KERB_USER}'
Type=oneshot

[Install]
WantedBy=default.target
