[Unit]
Description=kinit start

[Service]
Environment="KERB_USER=user@FEDORAPROJECT.ORG"
Environment="KERB_FOLDER=Passwords"
ExecStart=/bin/bash -c '/usr/bin/kwalletcli -f ${KERB_FOLDER} -e ${KERB_USER} | /usr/bin/kinit ${KERB_USER}'
Type=oneshot

[Install]
WantedBy=default.target
